<h2>Questions#answer</h2>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class="message">
  <p><%= @your_message %>
  <br>
  <span class="sender">-You</span></p>
</div>
<div class="message background-yellow">
  <p><%= @coach_answer %>
  <br>
  <span class="sender">-Your coach</span></p>
</div>

<p><%= link_to 'Ask a new question', 'ask' %></p>
